@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal: "#23A1A1";
  --black: "#0C0D0E";
  --dark-gray: "#26292B";
  --blue: "#286298";
  --white: "#F7F7F7";
  --blue-gray: "#BAC9CA";
  --gray: "#616A6B";
  --purple: "#4032E2";
  --foreground-rgb: var(--black);
  --background-rgb: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --teal: "#23A1A1";
    --black: "#0C0D0E";
    --dark-gray: "#26292B";
    --blue: "#286298";
    --white: "#F7F7F7";
    --blue-gray: "#BAC9CA";
    --gray: "#616A6B";
    --purple: "#4032E2";
    --foreground-rgb: var(--white);
    --background-rgb: var(--black);
  }
}

body {
  background-color: rgb(var(--black));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
