@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal: "#23A1A1";
  --black: "#0C0D0E";
  --dark-gray: "#26292B";
  --blue: "#286298";
  --white: "#F7F7F7";
  --blue-gray: "#BAC9CA";
  --gray: "#616A6B";
  --purple: "#4032E2";
  --foreground-rgb: var(--black);
  --background-rgb: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --teal: "#23A1A1";
    --black: "#0C0D0E";
    --dark-gray: "#26292B";
    --blue: "#286298";
    --white: "#F7F7F7";
    --blue-gray: "#BAC9CA";
    --gray: "#616A6B";
    --purple: "#4032E2";
    --foreground-rgb: var(--white);
    --background-rgb: var(--black);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--black));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-blur {
  filter: blur(128px);
}

.bg-black-gradient {
  background: radial-gradient(circle 1000px at 50% -60%, #394044, #0c0d0e),
    radial-gradient(circle 100vw at 80% 20%, #284198, #0c0d0e);
}

.bento-grid {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  gap: 1rem;
  grid-template-rows: 1fr 0.75fr;
  div {
    border-radius: 0.75rem;
  }
}

.grid-item-1 {
  grid-area: 1/1/2/1;
}
.grid-item-2 {
  grid-area: 1/2/2/4;
}
.grid-item-3 {
  grid-area: 2/1/3/3;
}
.grid-item-4 {
  grid-area: 2/3/3/4;
}

.highest {
  z-index: 100;
}

.h-small {
  height: 75vh;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
